.experience {
    display: flex;
    gap: 6rem;
    position: absolute;
    top: 45.5rem;
}

.experience > div {
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.experience > div > span:nth-of-type(1) {
    color: var(--darkGrey);
    font-size: 2.5rem;
    margin-bottom: 0.5vh;
}

.experience > div > span:nth-of-type(2) {
    color: var(--purple);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

/* medium-small screens */
@media screen and (max-width: 1024px) {
    .experience {
        gap: 4rem;
        top: 34rem;
        align-self: center;
        margin-left: 11rem;
    }

    .experience > div > span:nth-of-type(1) {
        font-size: 1.2rem;
    }

    .experience > div > span:nth-of-type(2) {
        font-size: 1rem;
    }
}

/* md screens */
@media screen and (max-width: 912px) {
    .experience {
        margin-left: 10rem;
    }
}

/* md screens */
@media screen and (max-width: 820px) {
    .experience {
        margin-left: 8rem;
    }
}

/* md screens */
@media screen and (max-width: 730px) {
    .experience {
        margin-left: 6rem;
    }
}

/* small creens */
@media screen and (max-width: 700px) {
    .experience {
        gap: 3rem;
        top: 36rem;
        align-self: center;
        margin-left: 4rem;
    }
    
    .experience > div > span:nth-of-type(1) {
        font-size: 1.2rem;
    }

    .experience > div > span:nth-of-type(2) {
        font-size: 0.8rem;
    }
}

/* small screens */
@media screen and (max-width: 550px) {
    .experience {
        margin-left: 2rem;
    }
}

/* x-small screens */
@media screen and (max-width: 480px) {
    .experience {
        margin-left: -20px;
    }
}
