.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 15rem;
    height: 4rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: var(--darkGrey);
    align-items: center;
    margin-right: 10rem;
}

.menu > li {
    cursor: pointer;
    font-weight: 500;
    font-size: large;
}

.menu > li:hover {
    color: var(--purple);
}

.certificate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    background-color: transparent;
    width: fit-content;
    padding: 1rem;
    position: absolute;
    right: 3rem;
    top: 9rem;
}

.hero-icon {
    color: var(--certificate);
    font-size: 3rem;    
}

.certificate > span {
    color: var(--certificate);
    font-size: 1rem;
    letter-spacing: 0.1em;
}
