.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 15rem;
    height: 4rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: var(--darkGrey);
    align-items: center;
    margin-right: 10rem;
}

.menu > li {
    cursor: pointer;
    font-weight: 500;
    font-size: large;
}

.menu > li:hover {
    color: var(--purple);
}

