.hero-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.hero-blur {
    width: 22rem;
    height: 30rem;
    left: 0;
    
}

.left-hero {
    padding: 1.5rem 2rem;
    flex: 3;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    z-index: 2;
}

.right-hero {
    flex: 1;
    position: relative;
    background-color: var(--purple);
}

.btn-main {
    position: absolute;
    right: 3rem;
    top: 1.5rem;
    color: var(--darkGrey);
    cursor: pointer;
    padding: 12px;
}

.btn-main:hover {
    color: var(--purple);
}

.certificate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    background-color: transparent;
    width: fit-content;
    padding: 1rem;
    position: absolute;
    right: 5rem;
    top: 9rem;
}

.hero-icon {
    color: var(--certificate);
    font-size: 3rem;    
}

.certificate > span {
    color: var(--certificate);
    font-size: 1rem;
    letter-spacing: 0.1em;
}

.hero-img {
    position: absolute;
    right: 14rem;
    top: 4rem;
    width: 32rem;
}

/* large screens */
@media screen and (max-width: 1280px) {
    .certificate {
        display: none;
    }
}

/* medium-small screens */
@media screen and (max-width: 1024px) {
    .hero-container {
        flex-direction: column;
    }

    .hero-blur {
        width: 14rem;
    }

    .right-hero {
        position: relative;
        background: none;
    }

    .btn-main {
        position: absolute;
        right: 6rem;
        top: 10rem;
        color: var(--darkGrey);
        align-self: center;
    }

    .hero-img {
        position: relative;
        width: 22rem;
        left: 5rem;
        top: 12rem;
        align-self: center;
    }
}

/* sm screens */
@media screen and (max-width: 540px) {
    .hero-img {
        left: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .hero-img {
        left: 1rem;
    }
}

/* x-small screens */
@media screen and (max-width: 480px) {
    .btn-main {
        right: 2rem;
    }

    .hero-img {
        top: 14rem;
    }
}