.hero-container {
    display: flex;
    justify-content: space-between;
}

.left-hero {
    padding: 1.5rem 2rem;
    flex: 3;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    z-index: 2;
}

.right-hero {
    flex: 1;
    position: relative;
    background-color: var(--purple);
}

.btn-main {
    position: absolute;
    right: 3rem;
    top: 2rem;
    color: var(--darkGrey);
}
.btn-main:hover {
    color: var(--purple);
}

.hero-img {
    position: absolute;
    right: 12rem;
    top: 12rem;
    width: 25rem;
}

.hero-img-background {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    right: -40rem;
    z-index: -1;
    width: 140vw;
    height: 100vh;
    opacity: 0.8;
}