.join-container {
    display: flex;
    justify-content: space-between;
    padding: 0 6rem;
    gap: 10rem;
}

.left-join {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--darkGrey);
    font-size: 3rem;
    font-weight: bold;
    position: relative;
}

.left-join > hr {
    position: absolute;
    width: 7rem;
    border: 2px solid var(--purple);
    margin: -10px 0;
}

.left-join > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left-join > div > :nth-child(2) {
    font-style: oblique;
    margin-left: 6rem;
}

.right-join {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-container {
    display: flex;
    gap: 4rem;
    background-color: var(--card-color);
    padding: 1rem 2rem;
}

.email-container > input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--appColor);
}

::placeholder {
    color: var(--appColor);
}

.btn-join {
    background-color: var(--purple);
    color: var(--appColor);
}

.btn-join:hover {
    color: var(--lightgray);
    box-shadow: 0 3px 10px var(--glow-shadow-gray-plan);
    transition: all .4s ease;
}

.btn-join:active {
    background-color: var(--purple);
    color: var(--appColor);
    box-shadow: none;
    transition: all .4s ease;
}

.message {
    text-align: center;
    font-size: 0.9rem;
}

/* medium-small screens */
@media screen and (max-width: 1024px) {
    .join-container {
        flex-direction: column;
        gap: 4rem;
        padding: 0 2rem;
        margin-top: -2rem;
    }

    .left-join {
        font-size: 2rem;
    }

    .left-join > hr {
        display: none;
    }

    .left-join > div {
        flex-direction: row;
        gap: 0;
        justify-content: center;
    }

    .left-join > div > :nth-child(2) {
        margin-left: 1rem;
        margin-top: 3rem;
    }
    
    .right-join {
        padding: 2rem;
    }

    .email-container {
        display: flex;
        gap: 1rem;
        background-color: var(--card-color);
        padding: 0.2rem 1rem;
    }

    .btn-join {
        padding: 4px 10px;
        margin: 2px;
        font-size: small;
    }
}
