.pricing-container {
    display: flex;
    flex-direction: column;
    margin-top: -4rem;
    padding: 0 2rem;
    gap: 4rem;
    position: relative;
}

.pricing-blur-left {
    width: 30rem;
    height: 20rem;
    top: 2rem;
    left: 0rem;
}

.pricing-blur-right {
    width: 30rem;
    height: 20rem;
    top: 14rem;
    right: 2rem;
}

.pricing-header {
    display: flex;
    gap: 13rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: var(--purple);
    text-transform: uppercase;
    font-style: oblique;
    padding-bottom: 3rem;
    margin-top: 2rem;
}

.pricing-plans {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--infoCard);
    color: var(--appColor);
    gap: 2rem;
    padding: 1.5rem;
    width: 20rem;
}

.plan:hover {
    box-shadow: 0 5px 15px var(--glow-shadow-gray-plan);
    transition: all .4s ease;
}

.plan-icon {
    fill: var(--purple);
    font-size: 2rem;
}

.plan-name {
    font-weight: 500;
    font-size: 1.5rem;
}

.plan-price {
    font-weight: bold;
    font-size: 1.4rem;
}

.plan-features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.plan-feature {
    display: flex;
    gap: 0.5rem;
}

.pricing-btn {
    color: rgb(49, 47, 49);
}


.pricing-btn:hover {
    color: var(--purple);
}

/* targeting card separtely using th el as card data supplied via map */

.plan:nth-child(2) {
    background-color: var(--purple);
    transform: scale(1.1);
}

.plan:nth-child(2):hover {
    box-shadow: 0 5px 15px var(--glow-shadow-purple-plan);
}

.plan:nth-child(2) > .plan-icon {
    fill: var(--appColor);
}

.plan:nth-child(2) > button {
    color: var(--purple);
}

.plan:nth-child(2) > button:hover {
    color: var(--darkGrey);
}


@media screen and (max-width: 1180px) {
    .pricing-header {
        font-size: 2.4rem;
    }
}

/* medium-small screens */
@media screen and (max-width: 1024px) { 
    .pricing-header {
        flex-direction: column;
        gap: 1rem;
        font-size: 3rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
        margin-top: -4rem;
    }

    .pricing-plans {
        flex-direction: column;
        gap: 2rem;
    }

    .plan {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: var(--infoCard);
        color: var(--appColor);
        gap: 2rem;
        padding: 6rem;
        width: 15rem;
    }

    .plan:nth-child(2) {
        background-color: var(--purple);
        transform: none;
    }
}

/* x-small screens */
@media screen and (max-width: 480px) {
    .plan {
        padding: 4rem;
    }
}