.programs-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 5rem 2rem;   
}

.programs-header {
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: var(--purple);
    text-transform: uppercase;
    font-style: oblique;
    padding-bottom: 3rem;
}

.programs-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.program-category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--purple);
    color: var(--appColor);
    padding: 2rem;
    gap: 2rem;
}

.program-category:hover {
    background: var(--infoCard);
    cursor: pointer;
}

.programs-category-icon {
    font-size: xx-large;
    fill: var(--appColor);
    width: 2rem;
    height: 2rem;
}

.programs-category-header {
    font-size: x-large;
}

.programs-category-details {
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: 1px;
}

.get-info {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.3rem;
}

/* large screens */
@media screen and (max-width: 1370px) {
    .programs-header {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1180px) {
    .programs-header {
        font-size: 2rem;
    }
}

/* medium-small screens */
@media screen and (max-width: 1024px) {
    .programs-header {
        flex-direction: column;
        gap: 1rem;
        font-size: 2rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-bottom: 1rem;
    }
    
    .programs-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
