.promo-headline {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: bold;
    color: var(--purple);
    text-overflow: inherit;
    margin-top: 6rem;
}

.promo-text {
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: none;
    letter-spacing: 1px;
    width: 70%;
}

/* medium-small screens */
@media screen and (max-width: 1024px) {
    .promo-headline {
        font-size: 2.5rem;
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
    }

    .promo-text {
        font-size: 1rem;
        text-align: justify;
    }
}