.testimonials-container {
    display: flex;
    gap: 1rem;
    padding: 2rem 2rem 2rem 6rem;
}

.left-testimonials {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    gap: 2rem;
    color: var(--darkGrey);
}

.left-testimonials > :nth-child(1) {
    color: var(--purple);
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.left-testimonials > :nth-child(2) {
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
}

.left-testimonials > :nth-child(3) {
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
}

.left-testimonials > :nth-child(4) {
    text-align: justify;
    letter-spacing: 1px;
    line-height: 40px;
}

.testimonials-role {
    text-transform: uppercase;   
    font-size: small; 
    color: var(--darkGrey);
    font-weight: 600;
}

.testimonials-name {
    text-transform: none;    
    font-size: medium;
    color: var(--purple);
}

.right-testimonials {
    flex: 1;
    position: relative;
    flex-direction: column;
}

.right-testimonials>:nth-child(1) {
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid var(--purple);
    background-color: transparent;
    right: 9rem;
    top: 0.9rem;
}

.right-testimonials>:nth-child(2) {
    position: absolute;
    width: 17rem;
    height: 19rem;
    top: 4rem;
    right: 7rem;
    background: var(--purple);
}

.testimonial-client-photo {
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem;
}

.carousel-arrows {
    display: flex;
}

.carousel-arrow {
    width: 5rem;
    height: 2rem;
    top: 20rem;
    cursor: pointer;
    left: 10rem;
}

/* medium-small screens */
@media screen and (max-width: 1024px) { 
    .testimonials-container {
        flex-direction: column;
        gap: 0rem;
        padding: 1rem 1rem 1rem 1rem;
    }

    .left-testimonials {
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .left-testimonials > :nth-child(2),
    .left-testimonials > :nth-child(3) {
        font-size: 2rem;
    }

    .left-testimonials > :nth-child(4) {
        letter-spacing: 0.5px;
    }

    .right-testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .right-testimonials > div {
        position: relative;
        display: none;
    }

    .right-testimonials > img {
        top: 0;
        right: 0;
        position: relative;
        align-self: center;
    }

    .testimonials-role {
        margin-bottom: 1rem;
    }

    .carousel-arrows {
        display: block !important;
    }
}

/* x-small screens */
@media screen and (max-width: 480px) {
    .left-testimonials {
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}