:root {
  --lightgray: #D9D9D9;
  --gray: #9c9c9c;
  --purple: #44007a;
  --darkGrey: #1b1c1d;
  --infoCard: #656565;
  --planCard: linear-gradient(210.41deg, #E3170A 1.14%, #E63B2E 100.75%);
  --appColor: #fdf7f2;
  --promoColor:  aliceblue;
  --glow-text: #fff;
  --glow-shadow-purple: #54306e66;
  --glow-shadow-gray: #38363966;
  --glow-shadow-purple-plan: #54306ee6;
  --glow-shadow-gray-plan: #383639d5;
  --certificate: #edd66f;
  --card-color: #5f5c60b9;
  --glow-shadow-purple-sm-icon: rgba(82, 51, 100, 0.893);
  --mobile-menu: #fdf7f2f2;
}

.app-container {
  background: url('./assets/imgs/background.png');
  background-color: var(--appColor);
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden; 
  opacity: 0.99;
}

::-webkit-scrollbar{
  display: none;
}

.outline-text {
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--purple);
}

.btn {
  background-color: var(--appColor);
  padding: 1rem;
  font-weight: bold;
  font-size: large;
  border: 4px solid transparent;
  transition: 300ms all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
}


.blur {
  background: rgba(55, 14, 96, 0.713);
  position: absolute;
  /* circle shape */
  border-radius: 50%; 
  /* blur effect */
  filter: blur(200px);
  /* always push to the back */
  z-index: -1;
}